.App {
  text-align: center;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
}
#root{
    flex: 1;
}


.tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    flex: 2;
}
.tabActive {
    color: red;
    display: 'inline-block';
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.tab {
    display: 'inline-block';
    background-color: gray;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content {
    padding:100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 9;
}

.disableTab {
    color:  #777777;
    background-color:gray;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
